<!DOCTYPE HTML>
<html>
	<head>
		<title>Giovanni Carvelli</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="assets/css/main.css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
		<meta name="keywords" content="gio, giovanni, carvelli, giovannicarvelli, gcarvelli, rit, rochester institute of technology, rsa, rochester software associates, datto, datto inc." />\
		<meta name="description" content="I'm Giovanni, a Software Engineering major from RIT">
	</head>
	<body id="top" ng-app="gcarvelliWebsite" ng-controller="gcarvelliWebsiteController">

		<!-- Header -->
			<header id="header">
				<a href="#" class="image avatar"><img src="{{ profile.image }}" alt="" /></a>
				<h1><strong>I am Gio</strong>, a fourth year <br /> Computer Science Major at RIT.</h1>
			</header>

		<!-- Main -->
			<div id="main">

				<!-- One -->
					<section id="one">
						<header class="major">
							<h2>{{ profile.title }}</h2>
						</header>
						<p>
							{{ profile.intro }}
						</p>
						<!--<ul class="actions">
							<li><a href="#" class="button">Learn More</a></li>
						</ul>-->
					</section>

				<!-- Two -->
					<section id="two">
						<h2>Recent Work</h2>
						<div class="row">
							<article class="6u 12u$(xsmall) work-item" ng-repeat="project in projects">
								<a href="{{ project.link }}" class="image fit thumb" data-after="{{ project.link_text }}"><img src="{{ project.image }}" alt="" /></a>
								<h3>{{ project.name }}</h3>
								<p>{{ project.description }}</p>
							</article>
						</div>
						<ul class="actions">
							<li><a href="{{ profiles[1].link }}" class="button">
								<i class="fa fa-github" aria-hidden="true"></i> @gcarvelli on Github
							</a></li>
						</ul>
					</section>

				<!-- Three -->
					<section id="three">
						<h2>Get In Touch</h2>
						<p>{{ profile.contact }}</p>
						<div class="row">
							<div class="8u 12u$(small)">
								<form method="post" action="#">
									<div class="row uniform 50%">
										<div class="6u 12u$(xsmall)"><input type="text" name="name" id="name" placeholder="Name" /></div>
										<div class="6u$ 12u$(xsmall)"><input type="email" name="email" id="email" placeholder="Email" /></div>
										<div class="12u$"><textarea name="message" id="message" placeholder="Message" rows="4"></textarea></div>
									</div>
								</form>
								<ul class="actions">
									<li><input type="submit" value="Send Message" /></li>
								</ul>
							</div>
							<div class="4u$ 12u$(small)">
								<ul class="labeled-icons">
									<!--
									<li>
										<h3 class="icon fa-home"><span class="label">Address</span></h3>
										1234 Somewhere Rd.<br />
										Nashville, TN 00000<br />
										United States
									</li>
									<li>
										<h3 class="icon fa-mobile"><span class="label">Phone</span></h3>
										000-000-0000
									</li>
									-->
									<li ng-repeat="p in profiles">
										<div ng-if="p.contact">
											<h3 class="icon {{ p.icon }}"><span class="label">{{ p.name }}</span></h3>
											<a href="{{ p.link }}">{{ p.handle }}</a>
										</div>
									</li>
								</ul>
							</div>
						</div>
					</section>
			</div>

		<!-- Footer -->
			<footer id="footer">
				<ul class="icons" >
					<li ng-repeat="p in profiles">
						<a href={{p.link}} class="icon {{ p.icon }}"><span class="label">{{ p.name }}</span></a>
					</li>
				</ul>
				<ul class="copyright">
					<li><a href="https://github.com/gcarvelli/carvelli-io">Source on Github</a></li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
				</ul>
			</footer>

		<!-- Scripts -->
			<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
			<script src="//code.jquery.com/jquery-2.2.3.min.js"></script>
			<script src="//cdnjs.cloudflare.com/ajax/libs/jquery.poptrox/2.5.1/jquery.poptrox.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="assets/js/main.js"></script>
			<script src="assets/js/custom.js"></script>

	</body>
</html>
