#experience h4 {
    margin-bottom: 0.4em;
    font-size: 0.9em;
}
#experience p {
    line-height: 1.6em;
}

.employer-header {
    float: left;
    width: 15%;
}
.employer-header img {
    width: 80%;
    margin: 5px 0 10px 10px;
    padding-right: 20px;
}
.employer-header h3 {
    margin: auto;
}
@media (max-width: 600px) {
  .employer-header {
    width: 25%;
    min-width: 100px;
  }
}

.employer-body {
    float: left;
    width: 85%;
}

.work-item a {
    color: rgb(120,120,120);
}
.work-item a:hover {
    text-decoration: underline;
}
