.employer-header {
    float: left;
    width: 15%;
}
.employer-header img {
    width: 80%;
    margin: 5px 0 10px 10px;
    padding-right: 20px;
}
.employer-header h3 {
    margin: auto;
}
@media (max-width: 600px) {
  .employer-header {
    width: 25%;
    min-width: 100px;
  }
}

.employer-body {
    float: left;
    width: 85%;
}
.employer-body h3 {
  margin: 0;
}
.employer-body h4 {
    margin-bottom: 0.9em;
    font-size: 0.9em;
}
.employer-body p {
    line-height: 1.6em;
}

.work-item a {
    color: rgb(120,120,120);
}
.work-item a:hover {
    text-decoration: underline;
}

.actions i {
    padding-right: 5px;
}

.image.thumb:after {
    transition: all .3s ease-in-out;
}
.image.thumb:hover:after {
    transform: scale(1.05);
}
