{% if profile.show is not defined or profile.show %}
<li>
    <a href="{{ profile.link }}" class="button">
        <i class="fa {{ profile.icon }}" aria-hidden="true"></i> {{ profile.handle }}
    </a>
</li>
{% endif %}
